{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/favicon.ico">
        <meta name="Description"
              content="200.sh - Global view of your applications uptime. Be safe knowing your services are accessible globally">
        {{block "base/title" .}}
            <title>200.sh - Global view of your applications uptime</title>
        {{end}}

        {{block "base/links" .}}
        {{end}}
        <link href="/css/output.css" rel="stylesheet">

        {{block "base/scripts" .}}
        {{end}}
    </head>
    <body class="min-h-screen h-screen flex flex-col">
    {{/*    {{template "components/navbar"}}*/}}

    {{template "content" .}}

    {{template "components/footer"}}
    {{block "base/inline-scripts" .}}
    {{end}}
    </body>
    </html>
{{end}}