{{define "components/footer"}}
    <footer class="bg-white py-5 text-black mt-10">
        <div class="container text-center mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-1 py-3">
                <div class="col-span-2  py-10">
                    <p>200.sh - Global Uptime Monitor</p>
                    <p>©2024 All rights reserved.</p>
                </div>
                <div class="px-2">
                    <h1 class="font-bold mb-2 text-2xl flex items-start">200.sh</h1>
                    <nav class="flex flex-col items-start">
                        <a href="/privacy" class="py-1 text-base">Privacy Policy</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
{{end}}